body{
    margin: 0%;
    padding: 0%;
}

header{
    overflow: hidden !important;
    background-color: #F6921D;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;
}
nav{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

@font-face{
    font-family: 'Titulo';
    src: url("../fontes/Matapacos_FREE.ttf");

    
}

@font-face{
    font-family: 'paragrafo';
    src: url("../fontes/trebuchet-ms-bold.ttf");
}

h2{
    font-family: 'Titulo';
    font-size: 40px;
}

p{
    font-family: 'paragrafo';
}


/*sessão inicio desktop*/

.sec-inicio{
    overflow: hidden;
    position: relative;
}
.input-hamburguer{
    visibility: hidden;
    
}
.ul-menu_mobile{
    visibility: hidden;
}
.label-hamburguer{
    visibility: hidden;
}

.img-logo{
    max-width: 207px;
    max-height: 500px;
}
.img-inicio{
    width: 100vw;
    object-fit: cover;
    max-height: 100vh;
    margin-bottom: -4px;
}
.img-logo_inicio{
    position: absolute;
    z-index: 0;
    left: 15%;
    top: 22%;
    max-width: 70vw;
    max-height: 70vh;
}

.btn{
    box-sizing: border-box;
    margin: 10px;
    width: 110px;
    height: 70px;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 20px;
    text-align: center;
}
.btn:hover{
    border-top: 2px solid white;
}

/*Sessão inicio desktop fim*/


/*Sessão quem somos desktop */

.sec-quem_somos{
    background-color: #368687;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
}
.h2-quem_somos{
    margin-left: 20px;
    margin-right: 10px;
}
.p-quem_somos{
    margin-left: 20px;
    margin-right: 10px;
}
.tres_pilares{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 21vh;
    color: #FFFFFF;
}
.pilar{
    max-width: 22vw;
    box-sizing: border-box;
    margin: 40px; 
}
.div-quem_somos{
    max-width: 75vw;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    top: -50px;
    color: #368687;
}
.btn-v_pai{
    position: absolute;
    right: 50vw;
    bottom: 3vh;
    
}
.btn-v{
    width: 30px;
    height: 5px;
    background-color: #FFFFFF;
    margin:-5px;
    transform: rotate(50deg);
    position: relative;
    border-radius: 20%;
}
.btn-v::after{
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    background-color: #FFFFFF;
    transform: rotate(80deg);
    position: absolute;
    right: -12px;
    top: -14px;
    border-radius: 20%;
}


/*Sessão quem somos desktop fim*/

/*Sessão programas desktop*/
.sec-programas{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   position: relative;
   background-color: white;
}

.div-h2Programas{
    margin: 50px;
}

.sec-programas h2{
    color: #F6921D;
}

.sec-programas p{
    color: #F6921D;
}

.slidershow{
    width: 780px;
    height: 50vh;
    overflow: hidden;
}

.slideContainer{
    display: flex;
    flex-direction: row;
}

.separador{
    height: 300px;
    width: 3px;
    display: block;
    margin: 46px;
    background-color: orange;
}

.div-text{
    width: 250px;
    display: flex;
    margin: 20px;
    flex-direction: column;
}

.div-text h2{
    margin: 0px;
}

.navigation{
    position: absolute;
    bottom: -17vh;
    left: 47%;
    transform: translateX(-50%);
    display: flex;
}

.b{
 width: 100px;
 height: 50px;
}

.bar{
    width: 10px;
    height: 10px;
    border: 2px solid orange;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    left: -9vw;
    bottom: 30vh;  
} 
.bar2{
    width: 10px;
    height: 10px;
    border: 2px solid orange;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    left: 24vw;
    bottom: 30vh;  
}
.bar:hover{
    background: orange;
    transform: scale(1.5);
}
.bar2:hover{
    background: orange;
    transform: scale(1.5);
}
  
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
input[name="p"]{
    position: absolute;
    visibility: hidden;
}
  
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 400px;
    height: 380px;
    transition: 0.6s;
}
.slide img{
    width: 400px;
    height: 380px;
    
}

#r1:checked ~ .s1{   
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}
#r5:checked ~ .s1{
    margin-left: -80%;
}



/*Sessão programas desktop fim*/

/*Seção parcerias desktop inicio*/

#sec-parcerias-id {
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: #814223
}

#sec-parcerias-id h2 {
    width: 100%;
    text-align: center;
}

#parcerias {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
    justify-content: space-evenly;
}

.parceiro {
    width: 22%;
    margin-bottom: 20px;
}

.parceiro img {
    width: 100%;
    border-radius: 9px;
}

.parceiro p {
    width: 100%;
    text-align: center;
}

/*Seção parcerias desktop fim*/

/*Seção contato desktop inicio*/

#sec-contato-id {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sec-contato-id h2 {
    width: 100%;
    text-align: center;
    color: #C63F00
}

.contato {
    width: calc(100%/3.0);
}

.contato input, textarea {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #C63F00;
    border-radius: 5px;
    background-color: transparent;

}

.contato input {
    height: 26px;
    margin: 4.5px 0px;
}

.contato textarea {
    height: 73px;
    margin-top: 13.5px;
}

.contato .btnEnviar {
    width: 74px;
    height: 29px;
    color: #C63F00;
    cursor: pointer;
}


.btnEnviar:active {
    background-color: lightgray;
    border-radius: 9px;
}

.center {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

/*Seção contato desktop fim*/

/*Parte mobile*/

@media(max-width: 930px), (max-height: 450px){
    /*sessão inicio mobile*/
    header{
        height: 70px;
    }
    .logo_header{
        width: 170px;
        height: 70px;
        background-color: white;
    }
    .img-logo{
        max-width: 207px;
        max-height: 70px;
    }
    .img-inicio{
        max-width: 100vw;
       height: 90vh;
    }
    .btn{
        overflow: hidden;
        visibility: hidden;
    }

    /*Menu hamburguer*/

    .input-hamburguer{
        visibility: visible;
        
    }
    .ul-menu_mobile{
        visibility: visible;
    }
    .label-hamburguer{
        visibility: visible;
    }
    
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .menu_hamburguer {
        background: #fff;
        border-radius: 10%;
        width: 50px;
        height: 50px;
        position: fixed;
        top: 9px;
        right: 10px;
        cursor: pointer;
        box-shadow: 0 0 0 0px white, 0 0 0 0px white;
        transition: box-shadow 1.1s cubic-bezier(.19,1,.22,1);
        z-index: 10;
    }
    .menu_hamburguer:hover{
        box-shadow: 0 0 0 4px white, 0 0 0 4px white;
        z-index: 1;
    }
    .hamburguer{
        display: block;
        background: black;
        width: 30px;
        height: 3px;
        position: relative;
        top: 23px;
        right: -11px;
        transition: 0.5s ease-in-out;
        
    }
    .ul-menu_mobile{
        position: fixed;
        top: 30%;
        left: 42%;
        transform: translate(-50%, -50%);
        list-style: none;
        font-size: 35px;
        opacity: 0;
        transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
        z-index: 2;
        visibility: visible;
    }
    .a-menu {
        color: #F6921D;
        display: block;
        margin-bottom: 1em;
        text-decoration: none;
        /*z-index: 10;*/
    }
    .a-menu:hover{
        transform: scale(1.1);
    }

    .hamburguer:before,
    .hamburguer:after{
        background-color: black;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: 0.5s ease-in-out;
    }
    .hamburguer:before{
        top: -10px
    }
    .hamburguer:after{
        bottom: -10px;
    }
    .input-hamburguer{
        display: none;
    }
    .input-hamburguer:checked ~ ul{
        opacity: 1;
        z-index: 10;
    }
    .input-hamburguer:checked ~ label .menu_hamburguer{
        box-shadow: 0 0 0 130vw white, 0 0 0 130vw white;
    }
    .input-hamburguer:checked ~ label .hamburguer{
        transform: rotate(45deg);
    }
    .input-hamburguer:checked ~ label .hamburguer:before{
        transform: rotate(90deg);
        top: 0;
    }
    .input-hamburguer:checked ~ label .hamburguer:after{
        transform: rotate(90deg);
        bottom: 0;
    }
    /*menu hamburguer fim*/

    /*Sessão inicio parte mobile fim*/
     
    /*Sessão Quem somos mobile */
    .sec-quem_somos{
        background-color: #368687;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        min-height: 1450px;
    }
    .pilar{
        display: block;
        max-width: 50vw;
        margin: 40px;
    }
    .div-quem_somos{
        border-radius: 25px;
        background-color: white;
        position: absolute;
        top: -50px;
        scrollbar-color: rebeccapurple green;
    }
    
    .tres_pilares{
       display: block;
       text-align: justify;
    }
    .h2-quem_somos{
        margin-left: 20px;
        margin-right: 10px;
    }
    .p-quem_somos{
        margin-left: 20px;
        margin-right: 10px;
    }
     
    /*Seção Quem somos mobile fim*/

    /*Seção programas mobile inicio*/
    .sec-programas{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        min-height: 1100px;
     }
     
     .div-h2Programas{
         margin: 50px;
     }
     
     .sec-programas h2{
         color: #F6921D;
     }
     
     .sec-programas p{
         color: #F6921D;
     }
     
     .slidershow{
         width: 290px; 
         height: 800px;
         overflow: none;
         position: relative;
     }

     .slideContainer{
         display: flex;
         flex-direction: column;
     }
     
     .div-text{
         width: 250px;
         display: flex;
         margin: 20px;
         flex-direction: column;
         
     }
     
     .div-text h2{
         margin: 0px;
     }
     
     .navigation{
         position: absolute;
         transform: translateX(-50%);
         display: flex;
         z-index: 11;
         top: 41%;
         
     }
     .init{
         margin-left: auto;
     }
     .end{
         margin-right: auto;
     }
     
     .b{
      width: 100px;
      height: 50px;
     }
     
     .bar{
         width: 10px;
         height: 10px;
         border: 2px solid orange;
         margin: 6px;
         cursor: pointer;
         transition: 0.4s;
         position: relative;
         left: 0!important;
         bottom: 0!important;
     } 
     .bar:hover{
         background: orange;
         transform: scale(1.5);
     }
       
     input[name="r"]{
         position: absolute;
         visibility: hidden;
     }
     input[name="p"]{
         position: absolute;
         visibility: hidden;
     }
       
     .slides{
         width: 500%;
         height: 100%;
         display: flex;
         flex-direction: column;
     }
     
     .slide{
         width: 400px;
         transition: 0.6s;
        
     }
     .slide img{
        width: 290px;
        height: 270px;
     }
     
     #r1:checked ~ .s1{   
         margin-top: 0;
     }
     #r2:checked ~ .s1{
         margin-top: -60%;
     }
     #r3:checked ~ .s1{
         margin-top: -120%;
     }
     #r4:checked ~ .s1{
         margin-top: -180%;
     }
     #r5:checked ~ .s1{
         margin-top: -240%;
     }

    
    /*Seção programas mobile inicio*/

    /*Seção parcerias mobile inicio*/

.parceiro {
    width: 45%;
}

/*Seção parcerias mobile fim*/

    /*Seção contato mobile inicio*/
    .contato {
        width: 80%;
    }
    
    .contato .btnEnviar {
        width: 74px;
        height: 29px;
    }    
    /*Seção contato mobile inicio*/

}
/*parte mobile fim*/

/*Parte tablet inicio*/
@media(max-width: 1350px) and (min-width: 780px){
    .btn-pai{
        display: flex;
        flex-direction: row;
    }
    /*Sessão quem somos */
    .sec-quem_somos{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #368687;
        position: relative;
        height: 60vh;
        max-height: 100vh;
        min-height: 800px;
    }
    .tres_pilares{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        top: 21vh;
        margin-left: 10px;
    }
    .pilar{
        max-width: 22vw;
        box-sizing: border-box;
        margin: 40px; 
    }
    .div-quem_somos{
        max-width: 75vw;
        border-radius: 25px;
        background-color: white;
        position: absolute;
        top: -50px;
    }
    /*Sessão quem somos fim*/

    /*Sessão progrmas tablet*/

    .sec-programas{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        position: relative;
        background-color: white;
     }
     
     .div-h2Programas{
         margin: 50px;
     }
     
     .sec-programas h2{
         color: #F6921D;
     }
     
     .sec-programas p{
         color: #F6921D;
     }
     
     .slidershow{
         width: 780px;
         height: 50vh;
         overflow: hidden;
     }
     
     .slideContainer{
         display: flex;
         flex-direction: row;
     }
     
     .separador{
         height: 300px;
         width: 3px;
         display: block;
         margin: 46px;
         background-color: orange;
     }
     
     .div-text{
         width: 250px;
         display: flex;
         margin: 20px;
         flex-direction: column;
     }
     
     .div-text h2{
         margin: 0px;
     }
     
     .navigation{
         position: absolute;
         bottom: -15%;
         left: 40%;
         transform: translateX(-50%);
         display: flex;
     }
     
     .b{
      width: 100px;
      height: 50px;
     }
     
     .bar{
         width: 10px;
         height: 10px;
         border: 2px solid orange;
         margin: 6px;
         cursor: pointer;
         transition: 0.4s;
         position: relative;
         left: -9vw;
         bottom: 30vh;  
     } 
     .bar2{
         width: 10px;
         height: 10px;
         border: 2px solid orange;
         margin: 6px;
         cursor: pointer;
         transition: 0.4s;
         position: relative;
         left: 24vw;
         bottom: 30vh;  
     }
     .bar:hover{
         background: orange;
         transform: scale(1.5);
     }
     .bar2:hover{
         background: orange;
         transform: scale(1.5);
     }
       
     input[name="r"]{
         position: absolute;
         visibility: hidden;
     }
     input[name="p"]{
         position: absolute;
         visibility: hidden;
     }
       
     .slides{
         width: 500%;
         height: 100%;
     }
     
     .slide{
         width: 10%;
         width: 400px;
         height: 380px;
         transition: 0.6s;
     }
     .slide img{
        width: 400px;
        height: 380px;
     }
     
     #r1:checked ~ .s1{   
         margin-left: 0;
     }
     #r2:checked ~ .s1{
         margin-left: -20%;
     }
     #r3:checked ~ .s1{
         margin-left: -40%;
     }
     #r4:checked ~ .s1{
         margin-left: -60%;
     }
     #r5:checked ~ .s1{
         margin-left: -80%;
     }
     
     

    /*Sessão progrmas tablet fim*/

}

/*Parte tablet fim*/